{% extends 'base.html' %}

{% block content %}
<h3 class="my-4" align="center">Contact form</h3>
    <div class="row">

        <div class="col-md-6 offset-md-3" align="center">
            <form method="post" action="{% url 'apps.contact:contact_view' %}" class="mt-1">
                {% csrf_token %}

                <div class="mb-3" >
                    <label for="{{ form.name.id_for_label }}">Name</label>
                    {{ form.name }}
                </div>

                <div class="mb-3">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                </div>

                <div class="mb-3">
                    {{ form.content }}
                </div>

                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
{% endblock %}
